#!/usr/bin/env zsh
alias sudo='sudo -E '
alias watch='watch '
alias la='lsd -alhF --color=auto'
alias ls='lsd -a --color=auto'
alias cd='cd -P'
alias pwd='pwd -P'
alias grep='grep --color=auto'
alias reflect='reflector --verbose --country US --country CA --latest 50 --sort rate -n5 --protocol https --protocol rsync'
alias view='vim -R'
alias .a='$EDITOR ~/.aliases && . ~/.aliases'
alias .A='$EDITOR ~/.config/alacritty/alacritty.yml'
alias .b='$EDITOR ~/.bashrc && if [[ ${0} == bash ]]; then . ~/.bashrc; fi'
alias .f='$EDITOR ~/.functions && . ~/.functions'
alias .h='sudo $EDITOR /etc/hosts'
alias .s='$EDITOR ~/.ssh/config'
alias .t='$EDITOR ~/.tmux.conf && tmux source-file ~/.tmux.conf'
alias .v='$EDITOR ~/.vimrc'
alias .z='$EDITOR ~/.zshrc && if [[ ${0} == *zsh ]]; then . ~/.zshrc; fi'
alias .g='git config -e'
alias .G='git config --global -e'
alias .x='$EDITOR ~/.Xresources ~/.xrdb/color/* && xrdb ~/.Xresources'
alias zz='exec zsh'
alias gs='git status'
alias gsp='git status --porcelain'
alias clean='unset GIT_PS1_SHOWDIRTYSTATE'
alias dirty='GIT_PS1_SHOWDIRTYSTATE=true'
alias dmesg='dmesg --color=always | less -IR'
alias journalctl='PAGER="less -IR" journalctl'
alias less='less -IR'
alias diff='colordiff'
alias lb='lsblk -o name,size,fstype,label,uuid,partlabel,partuuid,mountpoint'
alias tree='tree -C'
alias :q=exit
alias open='xdg-open '
alias hexedit='hexedit --color'
alias updates='yay -Syy && yay -Qu'
alias murder='killall -9'
alias upgrade='yay -Su --noconfirm'
alias sds='systemctl status'
alias sd='sudo systemctl'
alias ipa='ip a'
alias myip='echo $(curl -su "$USER:$HOST" https://d5.ryanobeirne.com -X POST)'
alias rsync='rsync --times --progress --partial --no-whole-file'
alias qlook='feh -.'
alias dig=drill
