#!/bin/bash
alias sudo='sudo '
alias watch='watch '
alias la='ls -AlhvF --color=auto'
alias ls='ls -Av --color=auto'
alias cd='cd -P'
alias pwd='pwd -P'
alias grep='grep --color=auto'
alias reflect='sudo reflector --verbose --latest 5 --sort rate --save /etc/pacman.d/mirrorlist'
alias view='vim -R'
alias .a='$EDITOR ~/.aliases && . ~/.aliases'
alias .A='$EDITOR ~/.config/alacritty/alacritty.yml'
alias .b='$EDITOR ~/.bashrc && if [[ ${0} == bash ]]; then . ~/.bashrc; fi'
alias .d='$EDITOR ~/bin/.dotconfig && dotlink'
alias .f='$EDITOR ~/.functions && . ~/.functions'
alias .h='sudo $EDITOR /etc/hosts'
alias .s='$EDITOR ~/.ssh/config'
alias .t='$EDITOR ~/.tmux.conf && tmux source-file ~/.tmux.conf'
alias .v='$EDITOR ~/.vimrc'
alias .z='$EDITOR ~/.zshrc && if [[ ${0} == *zsh ]]; then . ~/.zshrc; fi'
alias .g='git config -e'
alias .G='git config --global -e'
alias .x='$EDITOR ~/.Xresources ~/.xrdb/color/* && xrdb ~/.Xresources'
alias zz='exec zsh'
alias gs='git status'
alias gsp='git status --porcelain'
alias clean='unset GIT_PS1_SHOWDIRTYSTATE'
alias dirty='GIT_PS1_SHOWDIRTYSTATE=true'
alias dmesg='dmesg --color=always | less -IR'
alias journalctl='PAGER="less -IR" journalctl'
alias diff='colordiff'
alias lb='lsblk -o name,size,fstype,label,uuid,partlabel,partuuid,mountpoint'
alias tree='tree -C'
alias :q=exit
alias qu='yay -Sy && yay -Qu'
alias open='xdg-open '
alias hexedit='hexedit --color'
alias updates='yay -Syy && yay -Qu'
alias murder='killall -9'
alias upgrade='yay -Su --noconfirm'
alias sds='systemctl status'
alias sd='sudo systemctl'
