#!/bin/bash
alias sudo='sudo '
alias watch='watch '
alias la='ls -AlhvF --color=auto'
alias ls='ls -Av --color=auto'
alias cd='cd -P'
alias pwd='pwd -P'
alias grep='grep --color=auto'
alias reflect='sudo reflector --verbose --latest 5 --sort rate --save /etc/pacman.d/mirrorlist'
alias view='vim -R'
alias .a='vim ~/.aliases && . ~/.aliases'
alias .b='vim ~/.bashrc && . ~/.bashrc'
alias .f='vim ~/.functions && . ~/.functions'
alias .h='sudo vim /etc/hosts'
alias .s='vim ~/.ssh/config'
alias .v='vim ~/.vimrc'
alias .z='vim ~/.zshrc && . ~/.zshrc'
alias .g='git config -e'
alias .G='git config --global -e'
alias .x='vim -p ~/.Xresources ~/.xrdb/color/* && xrdb ~/.Xresources'
alias gs='git status'
alias gsp='git status --porcelain'
alias clean='unset GIT_PS1_SHOWDIRTYSTATE'
alias dirty='GIT_PS1_SHOWDIRTYSTATE=true'
alias dmesg='dmesg --color=always | less -IR'
alias journalctl='PAGER="less -IR" journalctl'
alias vim='vim -p'
alias diff='colordiff'
alias lb='lsblk -o kname,size,label,partlabel,uuid,partuuid,mountpoint'
alias tree='tree -C'
alias :q=exit
