#!/bin/bash
lass () {
	ls -alhv --color=always $@ | less -IR
}

colo () {
  for i in {30..37} {40..47}; do
    printf "\e[${i}m%s:%s\t\e[1m%s\e[7m\t%s\e[m\n" "$i" " ██ REG ██ " " ██ BOLD ██ " " ██ REVERSE ██ "
  done
}

rustcr () {
        rustc "$1" && $(realpath "${1%.*}")
}

math () {
	awk "BEGIN {print $* }"
}

vimupdate () {
  (
    cd ~/.vim
    git fetch --recurse-submodules && git pull --recurse-submodules
  )
}

say () { 
	espeak -v english-us "$*" 2> /dev/null
}

rnb () {
	cargo new --bin "$1" &&
		code "$1"
}

rnl () {
	cargo new --lib "$1" && code "$1"
}

rust () {
	temp=$(mktemp) 
	rustc -o $temp <(cat <<EOF
$@
EOF
	) && $temp
	rm $temp
}

precmd () {
  printf "\e]0;${0##*/}::${TTY}\7"
}

#__GPROMPT () {
	#~/repos/pretty-git-prompt/target/debug/pretty-git-prompt
#}

cowf() {
	local cowfiles=($(ls /usr/share/cows/*.cow))
	local cowfile=${cowfiles[$(( $RANDOM % ${#cowfiles[@]} ))]}
	fortune | cowsay -f "$cowfile" | lolcat
}

appendpath () {
	for p in "$@"; do
		case ":$PATH:" in
			*:"$p":*)
				;;
			*)
				[[ -d "$p" ]] && export PATH="${PATH:+$PATH:}$p"
				;;
		esac
	done
}
ovpn () {
	sudo -E systemctl restart openvpn-server@server.service && {
		for i in {30..0}
		do
			printf 'Rebooting in %s\r' $i...
			sleep 1
		done
	sudo -E systemctl reboot
	}
}
