[user]
	email = ryanobeirne@ryanobeirne.com
	name = Ryan O'Beirne
	signingkey = ryanobeirne@ryanobeirne.com
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = blue reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[alias]
	A = add -A
	au = add --update
	c = commit
	ca = commit --amend
	cm = commit -m
	d = diff
	dc = diff --cached
	df = diff --follow
	dh = diff HEAD^ HEAD
	f = fetch
	l = log --graph --pretty=tformat:\"%C(magenta)%h%Creset %C(dim green)(%cr) %C(cyan)<%an>%Creset %C(red)%d%Creset\n%s\n\" --abbrev-commit
	lf = log --graph --pretty=tformat:\"%C(magenta)%h%Creset %C(dim green)(%cr) %C(cyan)<%an>%Creset %C(red)%d%Creset\n%s\n\" --abbrev-commit --follow
	pushAll = !git remote | xargs -L1 git push --all
	pushall = !git remote | xargs -L1 git push
	s = status -uno
	su = status
	sm = submodule
	sma = submodule add
	sp = status --porcelain
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	ff = only
