[user]
	email = ryanobeirne@ryanobeirne.com
	name = Ryan O'Beirne
	signingkey = ryanobeirne@ryanobeirne.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = blue reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[alias]
	A = add -A
	au = add --update
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cm = commit -m
	d = diff
	dc = d --cached
	df = d --follow
	dh = d HEAD^ HEAD
	f = fetch
	l = log --graph --pretty=tformat:\"%C(magenta)%h% %C(dim green)(%cr) %C(reset)%C(red)%d\n%C(bold cyan)%G?%C(reset) %C(cyan)%an  %C(dim)<%ae>\n%C(reset)%s\n\" --abbrev-commit
	lf = l --follow
	push-all = !git remote | xargs -L1 git push --all
	pushall = !git remote | xargs -L1 git push
	s = status -uno
	su = status
	sm = submodule
	sma = submodule add
	sp = status --porcelain
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
