[user]
	email = ryanobeirne@gmail.com
	name = Ryan O'Beirne
[core]
	editor = vim -p
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	a = add -A
	c = commit
	ca = commit --amend
	cm = commit -m
	d = diff
	dc = diff --cached
	df = diff --follow
	dh = diff HEAD^ HEAD
	f = fetch
	l = log --graph --pretty=tformat:\"%C(magenta)%h%Creset %C(dim green)(%cr) %C(cyan)<%an>%Creset %C(red)%d%Creset\n%s\n\" --abbrev-commit
	lf = log --graph --pretty=tformat:\"%C(magenta)%h%Creset %C(dim green)(%cr) %C(cyan)<%an>%Creset %C(red)%d%Creset\n%s\n\" --abbrev-commit --follow
	pushAll = !git remote | xargs -L1 git push --all
	pushall = !git remote | xargs -L1 git push
	s = status
	sm = submodule
	sma = submodule add
	sp = status --porcelain
