URxvt*termName: xterm-256color
URxvt*locale: true
URxvt*saveLines: 10000
URxvt*scrollBar: false
URxvt*scrollWithBuffer: true
URxvt*scrollbar.width: 16
URxvt*geometry: 125x45

!URxvt*transparent: true
URxvt*depth: 32
!URxvt*shading: 30
URxvt*blurRadius: 80

!URxvt*background: #0514218
URxvt*background: rgba:0505/1414/2121/d998
URxvt*foreground: #d1f4fa
URxvt*color0: #0E2C4A
URxvt*color1: #F26E63
URxvt*color2: #81DFC0
URxvt*color3: #FDF7D0
URxvt*color4: #568CB8
URxvt*color5: #C99BC9
URxvt*color6: #8EC3E4
URxvt*color7: #DFE3E5
URxvt*color8: #003362
URxvt*color9: #F24D3F
URxvt*color10: #33BD90
URxvt*color11: #FDEC7E
URxvt*color12: #0767B8
URxvt*color13: #C852C9
URxvt*color14: #47A8E4
URxvt*color15: #ECF8FB

URxvt*font: xft:xos4 Terminus:size=12
URxvt*metaSendsEscape: true

URxvt*perl-ext-common: default,matcher,tabbed,selection-to-clipboard
URxvt.tabbed.tabbar-fg: 6
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 8
URxvt.tabbed.tab-bg: 14
URxvt*url-launcher: /usr/bin/xdg-open
URxvt*matcher.button: 1
