[Desktop Entry]
Categories=Qt;KDE;Office;
Comment[en_US]=
Comment=
Exec=kontact -stylesheet /home/ryanobeirne/.local/share/kmail2/no-html-message.css
GenericName[en_US]=Personal Information Manager
GenericName=Personal Information Manager
Icon=kontact
MimeType=
Name[en_US]=Kontact
Name=Kontact
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kontact
X-DBUS-StartupType=unique
X-DocPath=kontact/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
