#!/usr/bin/env xdg-open
[Desktop Entry]
Name=dispwin
Exec=sleep 5; /usr/bin/dispwin /usr/share/color/icc/ColorLCD-20180131.icc
Type=Application
X-GNOME-Autostart-enabled=true
